<div class="card">
    <h3><a href="/blogPost/{{id}}">{{title}}</a></h3>
    <p>By {{user.name}} on {{format_date date_created}}</p>
    <p>{{comments.length}} comments</p>
    <a href="/edit/{{id}}" class="btn btn-dark editBtn">Edit</a>
    <button value="{{id}}" class="btn btn-danger deleteBtn">Delete</button>
</div>